.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 5rem;
  left: 20px;
  width: 280px;
  height: calc(100% - 10rem);
  flex: 0 0 280px;
  overflow: hidden;

}


.sidebar__header, .sidebar__footer {
  width: 100%;
  padding: 1rem;
  background-color: #00000003;
  border-bottom: 1px solid $border-color;
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 45px;
  padding: 8px;
  & > span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: $grey;
    border-radius: 5px;
  }
}

.sidebar__content {
  height: 100%;
  padding: 0 1.5rem 1.5rem;
}